.section {
  margin: 0 auto;
  width: 100%;
  padding: 65px 10px 0 10px;
}

.tile {
  height: 425px;
  width: auto;
  background-color: var(--orange-color);
  padding: 20px 10px;
  border-radius: 5px;
  position: relative;
}

.tile > img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: 0;
  left: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tile_figure {
  height: 150px;
  z-index: 1;
  width: 241px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tile_figure > h3 {
  padding: 5px;
  border-radius: 7px;
  font-size: 21px;
  color: white;
  z-index: 2;
  margin: 0;
  top: 30px;
  left: 10px;
}

.tile_figure > p {
  font-size: 16px;
  color: white;
  top: 70px;
  left: 10px;
  z-index: 1;
  margin: 0;
}

@media (min-width: 960px) {
  .wrapper {
    flex-direction: row;
  }

  .tile {
    flex-basis: 33%;
    border-radius: 5px 5px 0 0;
  }
}
