.medium_button {
  height: 45px;
  width: 140px;
  background-color: var(--orange-color);
  color: var(--white-color);
  border-radius: 4px;
  text-align: center;
  box-shadow: none;
  border: none;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--white-color);
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
  }
}

@media (min-width: 480px) {
  .medium_button {
    width: 170px;
    height: 55px;
    font-size: 22px;
  }
}

@media (min-width: 960px) {
  .medium_button {
    width: 280px;
    height: 92px;
    font-size: 30px;
  }
}
