.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 350px;
    gap: 30px;
    padding: 15px;
    width: 300px;
}

.form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}


.form > form > input {
    width: 280px;
    height: 40px;
    font-size: 15px;
    padding: 15px;
}

.form > form > button {
    width: 280px;
    height: 50px;
    background-color: orange;
    border: none;
    color: white;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
    font-family: "FuturaPTWebBold";
}
  
.form > form > button:active {
    background-color: #d57500;
}
  
.form > form > p {
    text-align: center;
    width: 250px;
    margin: 0;
}

.complete {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 1px solid #62c584;
    border-radius: 100%;
    position: relative;
}
  
.complete::after {
    width: 15px;
    height: 11px;
    content: "\2713";
    color: #62c584;
    position: absolute;
    top: 14px;
    left: 16px;
}

.failure {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 1px solid red;
    border-radius: 100%;
    position: relative;
}

.failure::after {
    width: 15px;
    height: 11px;
    content: "\2715";
    color: red;
    position: absolute;
    top: 12px;
    left: 18px;
}

.modal_btn_close {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}   


.modal_text {
    padding-top: 20px;
    font-family: "FuturaPTWebLight";
}


.header {
    font-size: 27px;
}

@-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

.loader {
    overflow: hidden;
    font-size: 10px;
    text-indent: -9999em;
    width: 5em;
    height: 5em;
    border-radius: 100%;
    background: #65abf8;
    background: -moz-linear-gradient(left, #65abf8 10%, rgba(101, 171, 248, 0) 42%);
    background: -webkit-linear-gradient(left, #65abf8 10%, rgba(101, 171, 248, 0) 42%);
    background: -o-linear-gradient(left, #65abf8 10%, rgba(101, 171, 248, 0) 42%);
    background: -ms-linear-gradient(left, #65abf8 10%, rgba(101, 171, 248, 0) 42%);
    background: linear-gradient(to right, #65abf8 10%, rgba(101, 171, 248, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    margin: 0 auto;
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #65abf8;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}

.loader:after {
    background: orange;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.block {
    display: block;
}

.none {
    display: none;
}

.required:focus {
    border: 1px solid black;
}

.error {
    border: 1px solid red;
}

.show {
    opacity: 1;
    visibility: visible;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.error_text {
    position: absolute;
    color: red;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 2px;
    z-index: 1;
    margin-top: 5px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}

.error_text::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -12px;
    left: 15%;
    border: 6px solid transparent;
    border-bottom-color: transparent;
    border-bottom-color: #fff;
}

.position_error_first_input{
    top: 35px;
    left: 0;
}

.position_error_second_input{
    top: 85px;
    left: 0;
}

.modal {
    padding: 40px 40px 50px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: default;
    width: 300px;
    height: 350px;
    position: absolute;
    top: 0;
}

.modal_wrapper {
    background-color: #fff;
    padding: 40px 40px 50px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    position: relative;
    cursor: default;
    width: 300px;
    height: 185px;
    position: absolute;
    top: 30%;
    left: 0%;
}

@media(min-width: 481px) {
    .position_error_first_input{
        top: 35px;
    }
    
    .position_error_second_input{
        top: 95px;
    }
}
@media(min-width: 640px) {}
@media(min-width: 960px) {
    .form {
        width: 350px;
        height: 350px;
        background-color: white;
    }

    .modal {
        width: 350px;
    }

    .modal_wrapper {
        left: 7%;
    }
}
@media(min-width: 1200px) {
    .form {
        width: 450px;
        height: 440px;
        background-color: white;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        gap: 30px;
    }
    
    .form > form {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }


    .form > form > input {
        width: 300px;
        height: 50px;
        padding: 15px;
        font-size: 15px;
    }

    .form > form > button {
        width: 300px;
        background-color: orange;
        height: 70px;
        border: none;
    }

    .form > form > p {
        text-align: center;
        margin: 0;
        font-size: 17px;
        width: 270px;
    }

    .header {
        font-size: 30px;
    }

    .position_error_first_input{
        top: 45px;
    }
    
    .position_error_second_input{
        top: 125px;
    }

    .modal {
        padding: 40px 40px 50px;
        box-sizing: border-box;
        border-radius: 5px;
        text-align: center;
        position: relative;
        background-color: rgba(0, 0, 0, 0.6);
        cursor: default;
        width: 450px;
        height: 100%;
        position: absolute;
        top: 0;
    }

    .modal_wrapper {
        background-color: #fff;
        padding: 40px 40px 50px;
        box-sizing: border-box;
        border-radius: 5px;
        text-align: center;
        position: relative;
        cursor: default;
        width: 360px;
        height: 185px;
        position: absolute;
        top: 30%;
        left: 10%;
    }
}