.icons {
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 10px;
  top: 10px;
  right: 10px;
  z-index: 10;
  align-items: center;
  justify-content: center;
}

.icon_link {
  width: 34px;
  height: 34px;
  background-color: var(--orange-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 100%;
}

.side_inscription {
  font-family: "Inter";
  font-weight: normal;
  position: fixed;
  top: 100px;
  right: -25px;
  background-color: var(--orange-color);
  rotate: 270deg;
  padding: 10px;
  border-radius: 7px;
  z-index: 10;
  font-style: normal;
  font-size: 12px;
  color: var(--white-color);
}
