.menu_button {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  top: 10px;
  left: 10px;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: var(--orange-color);
  border-radius: 100%;
  z-index: 5;
}

.menu_line {
  width: 50%;
  height: 2px;
  background-color: var(--white-color);
  z-index: 10;
}

.menu {
  width: 260px;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10;
  padding: 10px;
  display: flex;
  background-color: var(--grey-color);
  transition: all 1s ease-in;
}

.background {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  background-color: black;
}
