.footer {
  background-color: #000000;
  padding: 60px 0;
}

.wrapper {
  display: flex;
  column-gap: 72px;
  position: relative;
}

.img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: -7px;
  background: url("../img/logo.webp");
  background-size: cover;
}

.items {
  display: flex;
  flex-direction: column;
  padding-left: 123px;
}

.item {
  margin-bottom: 30px;
}

.social_item {
  position: static;
}

.item_header {
  color: #ffffff;
  font-size: 18px;
  font-family: "FuturaPTWebLight";
  line-height: 1.7;
  font-weight: 400;
  opacity: 0.5;
}

.item_title {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  font-family: "FuturaPTWebLight";
  font-weight: 300;
  margin-top: 10px;
}

.item_link_with_line {
  border-bottom: 1px solid rgb(255, 255, 255);
  font-size: 18px;
  font-family: "FuturaPTWebLight";
  color: #fff;
  box-shadow: none;
  text-decoration: none;
}

.item_link {
  color: #fff;
  border-bottom: none;
  box-shadow: none;
  font-family: "FuturaPTWebLight";
  text-decoration: none;
}

.socials {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  width: 110px;
}

.social {
  height: 45px;
  width: 45px;
}

.item_span {
  font-family: "FuturaPTWebLight";
  font-weight: 300;
  font-size: 16px;
}

@media (min-width: 481px) {
  .wrapper {
    display: flex;
    column-gap: 120px;
  }

  .items {
    padding-left: 280px;
  }
}

@media (min-width: 640px) {
  .footer {
    column-gap: 150px;
    height: 465px;
  }

  .wrapper {
    height: 360px;
  }

  .items {
    flex-direction: row;
    column-gap: 55px;
    position: relative;
    padding-left: 220px;
  }

  .item {
    padding-top: 20px;
  }

  .social_item {
    position: absolute;
    right: 60px;
    bottom: 20px;
    padding-top: 20px;
  }
}

@media (min-width: 960px) {
  .items {
    column-gap: 148px;
  }

  .social_item {
    position: static;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    display: flex;
    justify-content: center;
    column-gap: 150px;
    padding-left: 160px;
  }

  .items {
    padding-left: 0;
  }

  .socials {
    flex-wrap: nowrap;
  }
}
