.section {
  padding: 0 10px;
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.tile {
  width: 300px;
  height: auto;
}

.tile > img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

@media (min-width: 960px) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  .tile {
    flex-basis: 45%;
  }

  .tile > img {
    height: 400px;
  }
}
