:root {
  --grey-color: #e3e3e3;
  --orange-color: #e35f39;
  --white-color: #ffffff;
  --black-color: #000000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 960px) {
  #root {
    width: 95%;
  }
}
