:root {
  --grey-color: #e3e3e3;
  --orange-color: #e35f39;
  --white-color: #ffffff;
  --black-color: #000000;
}

* {
  box-sizing: border-box;
  object-fit: cover;
}

body {
  font-family: "Inter";
  margin: 0;
  overflow-x: hidden;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

::-webkit-scrollbar {
  width: 0;
}

.container {
  margin: 0 auto;
  width: 310px;
}

@media (min-width: 481px) {
  .container {
    width: 460px;
  }
}

@media (min-width: 481px) {
  .container {
    width: 460px;
  }
}

@media (min-width: 640px) {
  .container {
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}

@media (min-width: 960px) {
  #root {
    width: 100%;
  }
  .container {
    width: 940px;
  }
}
