.slider {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.none {
    display: none;
}

.field {
    display: flex;
    height: 100%;
}
   
.field img {
    background-position: 50% 50%;
    position: relative;
    height: 320px;
    align-self: center;
}

.img {
    scale: 1;
    cursor: zoom-in;
}

.button_next {
    border: none;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    width: 25px;
    height: 25px;
    background: 0 0;
}
  
.button_next img {
    width: 25px;
    height: 25px;
}
  
.button_next:hover {
    opacity: 0.6;
}
  
.button_prev {
    border: none;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    /* border-top: 2px solid;
    border-right: 2px solid; */
    width: 25px;
    height: 25px;
    background: 0 0;
}

.button_prev:hover {
    opacity: 0.6;
}
  
.button_prev img {
    width: 25px;
    height: 25px;
}

.button_close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    border: none;
}
  
.button_close::before,
.button_close::after {
    content: "";
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 2px;
    background: #000;
} 
  
.button_close::before {
    transform: rotate(45deg);
}
  
.button_close::after {
    transform: rotate(-45deg);
}
  
.button_close:hover {
    opacity: 0.6;
}
  

@media (min-width:481px) {
    .field img {
        width: 481px;
        height: 481px;
    }
}

@media (min-width:640px) {
    .field img {
        width: 640px;
        height: 640px;
    }
}

@media (min-width:960px) {
    .field img {
        width: 926px;
        height: 926px;
    }
}
@media (min-width:960px) {

    .field img {
        width: 896px;
        height: 896px;
    }
}